.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 60px;
}
.time_cont {
    display: flex;
    flex-direction: row;
   position: relative;
}
.delete_btn {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 25px;
    left: 75px;
    cursor: pointer;
}